boto3
loguru
pydantic
pyyaml
smart_open

## :::::::::::::::::::::::::::::::::::
## Modified in order to make Docker work from Sarcopenia-ai
# pandas==1.2.2
pandas
## :::::::::::::::::::::::::::::::::::
